@charset "UTF-8";
/* $icon-spacing:10px;
$icon-clean-up: true;
$icon-sprite-dimensions: true;
@import "compass/utilities/sprites";
@import "./images/icon.png";
@include all-icon-sprites; */
/* 径向渐变 */
@media screen and (max-width: 320px) {
  /* line 15, ../scss/util.scss */
  html {
    font-size: 12px;
  }
}
@media screen and (min-width: 321px) {
  /* line 21, ../scss/util.scss */
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 415px) and (max-width: 768px) {
  /* line 27, ../scss/util.scss */
  html {
    font-size: 16px;
  }
}
/* mixin start */
/* isOneDirect:是否是同一个方向 */
/* 块级布局 */
/* 根据个数来返回元素的宽度*/
/* mixin end  */
/* endtend start */
/* line 299, ../scss/util.scss */
.onepx-top, .onepx-bottom, .onepx-right {
  position: relative;
}
/* line 301, ../scss/util.scss */
.onepx-top:before, .onepx-bottom:before, .onepx-right:before, .onepx-top:after, .onepx-bottom:after, .onepx-right:after {
  position: absolute;
}
/* line 305, ../scss/util.scss */
.onepx-top:before, .onepx-bottom:before, .onepx-right:before {
  width: 1px;
  top: 0;
  height: 100%;
  -moz-transform: scaleX(0.5);
  -ms-transform: scaleX(0.5);
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
}
/* line 311, ../scss/util.scss */
.onepx-top:after, .onepx-bottom:after, .onepx-right:after {
  width: 100%;
  left: 0;
  height: 1px;
  -moz-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

/* 设置flex的基础的参数 */
/* 设置各种条，头部，尾部的颜色 */
/* extend end */
/* line 5, ../scss/common.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

/* line 11, ../scss/common.scss */
body, html {
  background-color: #f5f5f5;
  font-family: 'Microsoft Yahei', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

/* line 21, ../scss/common.scss */
h1 {
  margin: 0;
}

/* line 25, ../scss/common.scss */
a {
  text-decoration: none;
  color: #0a1e27;
}

/* line 30, ../scss/common.scss */
a.link {
  position: relative;
}
/* line 32, ../scss/common.scss */
a.link:after {
  content: "";
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  background-color: currentcolor;
  -moz-transition: width 0.4s;
  -o-transition: width 0.4s;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

/* line 44, ../scss/common.scss */
a.link:hover {
  color: #56c56a;
}
/* line 46, ../scss/common.scss */
a.link:hover:after {
  width: 100%;
}

/* line 51, ../scss/common.scss */
a.btn:active {
  background-color: #ddd;
}

/* line 55, ../scss/common.scss */
h1,
h2,
h3 {
  font-weight: 500;
}

/* line 61, ../scss/common.scss */
li {
  list-style: none;
}

/* line 65, ../scss/common.scss */
h2,
h1 {
  font-size: 1.2rem;
  line-height: 1.4;
}

/* line 71, ../scss/common.scss */
h3 {
  font-size: 1rem;
  line-height: 1.2;
}

/* line 76, ../scss/common.scss */
p {
  font-size: 1rem;
  line-height: 1.1;
}

/* line 81, ../scss/common.scss */
input, textarea {
  border: none;
  outline: none;
}

/* line 85, ../scss/common.scss */
em {
  font-style: normal;
}

@font-face {
  font-family: "myfont";
  src: url("../font/font.ttf") format("truetype");
}
/* 定义字体图标部分 */
/* line 95, ../scss/common.scss */
i.iconfont {
  display: block;
}
/* line 97, ../scss/common.scss */
i.iconfont.icon-shouye:before {
  font-size: 1.5rem;
}
/* line 100, ../scss/common.scss */
i.iconfont.icon-yonghuxinxi:before {
  font-size: 1.2rem;
}
/* line 103, ../scss/common.scss */
i.iconfont.icon-shouqi:before, i.iconfont.icon-sousuo:before, i.iconfont.icon-icon:before {
  font-size: 1.8rem;
}

/* line 111, ../scss/common.scss */
.active i.iconfont:before,
.active .page-name {
  color: #56c5fe;
}

/* line 117, ../scss/common.scss */
i.iconfont:before {
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  margin: 0 auto;
}

/* 定义字体图标部分end */
/* line 129, ../scss/common.scss */
.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}

/* line 137, ../scss/common.scss */
.main-content {
  width: 100%;
  background-color: #fff;
  height: 100%;
}

/* line 198, ../scss/util.scss */
.onepx-top:after {
  content: "";
  top: 0;
  background-color: #e6e6e6;
}

/* line 205, ../scss/util.scss */
.onepx-bottom:after {
  content: "";
  bottom: 0;
  background-color: #e6e6e6;
}

/* line 191, ../scss/util.scss */
.onepx-right:before {
  content: "";
  right: 0;
  background-color: #e6e6e6;
}

/* line 151, ../scss/common.scss */
.block {
  background-color: #fff;
  display: block;
  width: 100%;
  margin-bottom: 0.7rem;
  position: relative;
  position: relative;
}
/* line 213, ../scss/util.scss */
.block:before, .block:after {
  position: absolute;
}
/* line 251, ../scss/util.scss */
.block:after {
  content: "";
  bottom: 0;
  background-color: #e6e6e6;
  width: 100%;
  left: 0;
  height: 1px;
  -moz-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
/* line 213, ../scss/util.scss */
.block:before, .block:after {
  position: absolute;
}
/* line 240, ../scss/util.scss */
.block:before {
  content: "";
  top: 0;
  background-color: #e6e6e6;
  width: 100%;
  left: 0;
  height: 1px;
  -moz-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
/* line 274, ../scss/util.scss */
.block.no-top-border:before {
  content: none;
}
/* line 277, ../scss/util.scss */
.block:before, .block:after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
}

/* line 155, ../scss/common.scss */
.no-border:before, .no-border:after {
  content: none !important;
}

/* line 159, ../scss/common.scss */
.no-bg-block {
  background-color: transparent;
  display: block;
  width: 100%;
  margin-bottom: 0.7rem;
  position: relative;
  position: relative;
}
/* line 213, ../scss/util.scss */
.no-bg-block:before, .no-bg-block:after {
  position: absolute;
}
/* line 251, ../scss/util.scss */
.no-bg-block:after {
  content: "";
  bottom: 0;
  background-color: #e6e6e6;
  width: 100%;
  left: 0;
  height: 1px;
  -moz-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
/* line 213, ../scss/util.scss */
.no-bg-block:before, .no-bg-block:after {
  position: absolute;
}
/* line 240, ../scss/util.scss */
.no-bg-block:before {
  content: "";
  top: 0;
  background-color: #e6e6e6;
  width: 100%;
  left: 0;
  height: 1px;
  -moz-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
/* line 274, ../scss/util.scss */
.no-bg-block.no-top-border:before {
  content: none;
}
/* line 277, ../scss/util.scss */
.no-bg-block:before, .no-bg-block:after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
}

/* line 162, ../scss/common.scss */
.flex {
  display: -webkit-box;
  -webkit-box-pack: start;
  -webkit-box-lines: multiple;
  display: box;
  box-pack: start;
  box-lines: multiple;
  display: -webkit-flex;
  -webkit-align-items: center;
  display: flex;
  align-items: center;
}
/* line 165, ../scss/common.scss */
.flex li {
  -webkit-flex: 1 0 25%;
  flex: 1 0 25%;
}

/* line 169, ../scss/common.scss */
.icon {
  display: block;
  margin: 0 auto 0.4rem;
  height: 100%;
}
/* line 173, ../scss/common.scss */
.icon.cgxd-copy {
  background-image: url("../images/cgxd-copy.png");
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.14rem 1.79rem;
}
/* line 177, ../scss/common.scss */
.icon.fwz_1 {
  background-image: url("../images/fwz_1.png");
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.14rem 2.07rem;
}
/* line 181, ../scss/common.scss */
.icon.dfk_1 {
  background-image: url("../images/dfk_1.png");
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.65rem 1.8rem;
}
/* line 185, ../scss/common.scss */
.icon.fwwc_1 {
  background-image: url("../images/fwwc_1.png");
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.14rem 2.14rem;
}
/* line 189, ../scss/common.scss */
.icon.dqj_1 {
  background-image: url("../images/dqj_1.png");
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.21rem 2.14rem;
}
/* line 193, ../scss/common.scss */
.icon.qxz_1 {
  background-image: url("../images/qxz_1.png");
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.46rem 2.01rem;
}
/* line 197, ../scss/common.scss */
.icon.psz_1 {
  background-image: url("../images/psz_1.png");
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 4.21rem 2.09rem;
}
/* line 201, ../scss/common.scss */
.icon.dqj_2 {
  background-image: url("../images/dqj_2.png");
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 204, ../scss/common.scss */
.icon.qxz_2 {
  background-image: url("../images/qxz_2.png");
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 207, ../scss/common.scss */
.icon.psz_2 {
  background-image: url("../images/psz_2.png");
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 210, ../scss/common.scss */
.icon.fwz_2 {
  background-image: url("../images/fwz_2.png");
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 213, ../scss/common.scss */
.icon.dfk_2 {
  background-image: url("../images/dfk_2.png");
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 216, ../scss/common.scss */
.icon.fwwc_2 {
  background-image: url("../images/fwwc_2.png");
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 219, ../scss/common.scss */
.icon.call-icon {
  background-image: url("../images/call.png");
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  width: 2.86rem;
  height: 2.86rem;
  background-size: cover;
  margin-bottom: 0;
}
/* line 226, ../scss/common.scss */
.icon.wx_bj {
  background-image: url("../images/wx_bj.png");
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3.84rem 3.2rem;
}
/* line 230, ../scss/common.scss */
.icon.wx_smsj {
  background-image: url("../images/wx_smsj.png");
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3.64rem 3.71rem;
}
/* line 234, ../scss/common.scss */
.icon.wx_qctj {
  background-image: url("../images/wx_qctj.png");
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3.71rem 3.29rem;
}
/* line 238, ../scss/common.scss */
.icon.wx_wx {
  background-image: url("../images/wx_wx.png");
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 4.21rem 3rem;
}
/* line 242, ../scss/common.scss */
.icon.ppbm_1 {
  background-image: url("../images/ppbm_1.png");
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.1rem 2.29rem;
}
/* line 246, ../scss/common.scss */
.icon.yyms_1 {
  background-image: url("../images/yyms_1.png");
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.21rem 2.14rem;
}
/* line 250, ../scss/common.scss */
.icon.qy_1 {
  background-image: url("../images/qy_1.png");
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2rem 2.14rem;
}
/* line 254, ../scss/common.scss */
.icon.ppbm_2 {
  background-image: url("../images/ppbm_2.png");
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 257, ../scss/common.scss */
.icon.yyms_2 {
  background-image: url("../images/yyms_2.png");
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 260, ../scss/common.scss */
.icon.qy_2 {
  background-image: url("../images/qy_2.png");
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 264, ../scss/common.scss */
.has-arrow {
  position: relative;
}
/* line 266, ../scss/common.scss */
.has-arrow:after {
  background-image: url("../images/arrow_2.png");
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  width: 1.1rem;
  height: 0.6rem;
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  right: -10%;
  top: 1.2rem;
}
/* line 277, ../scss/common.scss */
.has-arrow.not-finish:after {
  background-image: url("../images/arrow_1.png");
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
}
