@charset "UTF-8";
/* $icon-spacing:10px;
$icon-clean-up: true;
$icon-sprite-dimensions: true;
@import "compass/utilities/sprites";
@import "./images/icon.png";
@include all-icon-sprites; */
/* 径向渐变 */
@media screen and (max-width: 320px) {
  /* line 15, ../scss/util.scss */
  html {
    font-size: 12px;
  }
}
@media screen and (min-width: 321px) {
  /* line 21, ../scss/util.scss */
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 415px) and (max-width: 768px) {
  /* line 27, ../scss/util.scss */
  html {
    font-size: 16px;
  }
}
/* mixin start */
/* isOneDirect:是否是同一个方向 */
/* 块级布局 */
/* 根据个数来返回元素的宽度*/
/* mixin end  */
/* endtend start */
/* 设置flex的基础的参数 */
/* 设置各种条，头部，尾部的颜色 */
/* extend end */
/* line 3, ../scss/index.scss */
h2, .middle-size {
  display: block;
  font-size: 1.14rem;
  color: #333;
}
/* line 7, ../scss/index.scss */
h2.title, .middle-size.title {
  margin-bottom: 1.21rem;
  font-size: 1.29rem;
}

/* line 12, ../scss/index.scss */
p, h3, h4, h5, h6, span {
  font-size: 1.07rem;
  color: #666;
}

/* line 16, ../scss/index.scss */
.price-text {
  color: #e24c00;
}

/* line 19, ../scss/index.scss */
.has-color-btn {
  background-color: #e24c00;
  color: #fff;
}

/* line 23, ../scss/index.scss */
.center-part {
  padding: 0.79rem 1rem;
  overflow: hidden;
}

/* line 27, ../scss/index.scss */
.loading:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 2;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background-image: url(../images/loading.gif);
  background-size: cover;
}
